#customizeHearthling
{
   margin: auto;

   .stdBG
   {
      background-position: center;
      background-repeat:   no-repeat;
   }

   .window
   {
      position: absolute;
      left: 50%;
      top: 25%;
      width: 500px;

      input
      {
         position: relative;
         width: 90%;
      }

      td
      {
         padding: 10px;
      }

      .visible
      {
         visibility: visible;
      }
      .hidden
      {
         visibility: hidden;
      }

      .desc
      {
         position: relative;
         width: 100px;
      }

      #randomButton
      {
         position: absolute;
         left: 12px;
         bottom: -7px;
         width: 80px;
         height: 80px;
         background: url('./images/random.png');
         background-size: 90px 90px;
      }

      .genderButton
      {
         position: relative;
         left: 180px;
         width: 70px;
         height: 70px;
      }
      #maleButton
      {
         .genderButton;
         background: url('./images/male.png');
         .stdBG;
      }
      #femaleButton
      {
         .genderButton;
         background: url('./images/female.png');
         .stdBG;
      }

      .progressButton
      {
         width: 12px;
         height: 23px;
      }
      #previousButton
      {
         .progressButton;
         background: url('./images/left_arrow.png');
         .stdBG;
      }
      #nextButton
      {
         .progressButton;
         background: url('./images/right_arrow.png');
         .stdBG;
      }

      .index
      {
         text-align: center;
         width: 230px;
      }

      #nameLock
      {
         position: absolute;
         right: 10px;
         top: 69px;
      }
      #genderLock
      {
         position: absolute;
         right: 10px;
         top: 188px;
      }

      .stdLock
      {
         position: absolute;
         right: 0px;
         width: 20px;
         height: 20px;
      }
      .unlocked
      {
         .stdLock;
         background: url('./images/unlocked.png');
         background-size: 15px 15px;
         .stdBG;
      }
      .locked
      {
         .stdLock;
         background: url('./images/locked.png');
         background-size: 15px 15px;
         .stdBG;
      }
   }
}
